services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: mutationguard-backend
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - ./backend/data:/app/data
      - ./backend/models:/app/models

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: mutationguard-frontend
    restart: unless-stopped
    ports:
      - "3000:80"
    depends_on:
      - backend

